<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" method="POST" style="max-width:500px;margin:auto">
  <h2>Login to Facebook</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="write your name" name="name">
    <input class="input-field" type="text" placeholder="write your age" name="age">
    <input class="input-field" type="text" placeholder="write a qoute" name="qoute">

  </div>

  <button type="submit" class="btn">Submit</button>
</form>
 


</body>
</html>